<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/MSevcik">Michal Ševčík</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Domov</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/wp">Webove publikovanie</a></li>
    	<li><a href="/hobby">Hobby</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">O mne</a></li>
    </ul>
  </div>
</nav>