---
layout: default
---
<div style="margin-top: 70px" class="container">
	{% for post in site.posts limit:1 %}
		<div style="height: 350px;width:inherit;background-image:url({{post.img}});background-size:cover;background-repeat:no-repeat;border-radius:15px;">
			<div class="row">
				<div class="col-md-2">
					<h1 style="background-color:#ff6666;border-radius:15px;padding:0px;margin:0px;opacity:0.9" class="text-center">New</h1>
				</div>
				<div class="col-md-8">
					<h1 class="text-center" style="margin-top:0px">{{post.title}}</h1>
				</div>
				<div class="col-md-2">
					
				</div>
			</div>
			<div style="height: 5px;background-color: white">
				
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h3>{{post.content | strip_html | truncatewords: 100 }}</h3>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div style="height: 5px;background-color: white">
				
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8 text-center">
					<a style="width:700px" class="btn btn-success" href="{{post.url}}">Čítať ďalej</a>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-2">
			<h3>Názov</h3>
		</div>
		<div class="col-md-8">
			<h3>Náhľad</h3>
		</div>
		<div class="col-md-2">
			<h3>Viac</h3>
		</div>
	</div>
</div>
{{ content }}